.cursor {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  font-weight: bold;
  color: rgb(112, 76, 186);
  cursor: none;
  z-index: 1;
  user-select: none;
  pointer-events: none;
  white-space: nowrap;
  padding: 4px 6px;
  box-sizing: border-box;
  font-size: 10px;
  transition:
    top 0.1s,
    left 0.1s;
}

.cursor::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid black;
  border-bottom: none;
  border-right: none;
  top: 0;
  left: 0;
}

.connections {
  list-style: none;
  padding: 0;
  color: #aaa;
  text-align: center;

  & > li {
    display: inline-block;
    width: 1em;
    height: 1em;
    text-align: center;
  }
}
