:root {
  overflow: hidden;
  overscroll-behavior: none;
}

.App {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  padding: 20px;
  box-sizing: border-box;
}

.Settings {
  position: absolute;
  top: 0;
  right: 0;
  width: 67dvw;
  height: 100dvh;
  background-color: lightgrey;
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.5s;
  box-shadow: 0 0 5px black;
  z-index: 1;
}

.App > button,
.Settings > button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
}

.Connections {
  position: fixed;
  height: auto;
  bottom: 20px;
  padding: 5px;
  left: 0;
  right: 0;
  font-weight: bold;
}

.Info {
  position: fixed;
  height: auto;
  bottom: 0;
  padding: 5px;
  left: 0;
  right: 0;
  font-size: 10px;
  color: #777;

  a {
    color: inherit;
  }
}
